AccountsManager/UserAccounts/AccountsManagerUsers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserAccounts">
    <xs:complexType>
      <xs:sequence>       
        <xs:element name="User" type="Account" minOccurs="0" maxOccurs="unbounded"></xs:element>                    
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element name="UserName" type="xs:string"></xs:element>
      <xs:element name="Password" type="xs:string"></xs:element>
      <xs:element name="Domain" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>